<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <hl> Tĩnh dạ tứ </hl>
    </br>
    Đầu giường ánh trăng rọi 
    </br>
    Ngỡ mạt đất phủ sương
    </br>
    Ngẩng đầu nhìn trăng sáng
    </br>
    Cúi đầu nhớ cố hương
    </br>

<p> <strong> Lý Bạch </strong></p> -->
    
    {% for data in poems %}
    
    <hl> {{ data.title }}</hl>
    <br>
    {{data.body}}

    <p><strong>
        {%if gender == 1} 'Mr.'
        {%endif}
        {{data.author}}</strong></p>

    {% endfor %}

</body>
</html>