<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

{% if check_pass %}

<form method ="POST">
    <label> Username: </label>
    <input name="name0"/>
    <br>
    <label> password: </label>
    <input name="pass0">
    <p><input type="submit" value="Login"></p>
</form>   

{% elif result %}

<p> "Login succesful!"</p>

{% else %}

<p> "Login failed!" </p>

{% endif %}

</body>
</html>